{% extends "base.html.twig" %}

{% block title %}AppBundle:my:vote{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="col-lg-12">
            <h1>Afficher la liste de votes auxquels vous avez créé</h1>
            {% if myVotes is null %}
                <h2>Vous n'avez pas créé de vote!</h2>
            {% endif %}
            {% if myVotes is not null %}
                {% for myVote in myVotes %}
                    <a href="{{ path('one_my_vote',{'vid':myVote.vote.id}) }}">
                        <div class="col-lg-8 col-lg-offset-2" style="background: #efefef; margin: 10px">
                            <div>
                                <h2>{{ myVote.vote.title }}</h2>
                            </div><br>
                            <div><h4>{{ myVote.vote.description }}</h4></div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-lg-12">
            <h1>Afficher la liste de votes auxquels vous avez participé</h1>
            {% if otherVotes is null %}
                <h2>Vous n'avez pas voté!</h2>
            {% endif %}
            {% if otherVotes is not null %}
                {% for otherVote in otherVotes %}
                    <a href="{{ path('one_my_vote',{'vid':otherVote.vote.id}) }}">
                        <div class="col-lg-8 col-lg-offset-2" style="background: #efefef; margin: 10px">
                            <div><h2>{{ otherVote.vote.title }}</h2></div><br>
                            <div><h4>{{ otherVote.vote.description }}</h4></div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}