{% extends "base.html.twig" %}

{% block title %}AppBundle:one:vote{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>显示单个投票</h1>
    <h1>投票名称 : {{ vote.title }}</h1>
    <h2>投票描述 ： {{ vote.description }}</h2>
    <p>参选选手 ：</p><br />
    <form method="post" role="form" class="form-horizontal">
        {% for candidature in candidatures %}
            <div style="font-size: 20px">
                {{ candidature.title }}
                {{ candidature.introduction }}
            </div>
            <div class="note">
                <select class="form-control" name="select[]">
                    {% for i in range(1,5) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <input name="submitNote" type="submit" class="form-control" value="Submit"/>
        <!--<input name="submitNote" type="submit" class="btn btn-default" onclick="location.href='{{ path('one_vote',{'vid':vote.id}) }}'"> -->
    </form>
{% endblock %}
