{% extends "base.html.twig" %}

{% block title %}AppBundle:one:my:vote{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Afficher les détails d'un vote</h1>
        <h1>{{ vote.title }}</h1>
        <h2>{{ vote.description }}</h2>
        <h3>Nombre total de participants ：{{ statistics[0].noteNumber }}</h3>
        <h1>Le meilleur film：</h1>
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <h1>{{ statistics[0].candidature.title }}</h1>
            <img class="col-lg-12" style="height: 100%; margin: 20px 0px" src="{{ asset('uploads/film_images/')}}{{ statistics[0].candidature.title }}/{{ statistics[0].candidature.title }}_Poster.jpg">
            <h3>Score moyen ：{{ statistics[0].noteAvg }}</h3>
        </div>

        <div class="col-sm-12">
            <h1>Score;</h1>
            {% for statistic in statistics %}
                <div class="col-lg-12" style="margin: 30px">
                    <div class="col-lg-4">
                        <h1>{{ statistic.candidature.title }}</h1>
                        <img class="col-lg-12" style="height: 100%" src="{{ asset('uploads/film_images/')}}{{ statistic.candidature.title }}/{{ statistic.candidature.title }}_Poster.jpg">

                    </div>

                    <div class="col-lg-6" style="padding: 30px">
                        <h3>Score moyen ： {{ statistic.noteAvg }}</h3>
                        <table class="table table-sm table-inverse">
                            <tbody>
                            <tr>
                                <td>
                                    {% for i in range(1,5) %}
                                        <img src="{{ asset('star.jpg') }}">
                                    {% endfor %}
                                </td>
                                <td>{{ statistic.noteNb5 }} personne</td>
                            </tr>
                            <tr>
                                <td>
                                    {% for i in range(1,4) %}
                                        <img src="{{ asset('star.jpg') }}">
                                    {% endfor %}
                                </td>
                                <td>{{ statistic.noteNb4 }} personne</td>
                            </tr>
                            <tr>
                                <td>
                                    {% for i in range(1,3) %}
                                        <img src="{{ asset('star.jpg') }}">
                                    {% endfor %}
                                </td>
                                <td>{{ statistic.noteNb3 }} personne</td>
                            </tr>
                            <tr>
                                <td>
                                    {% for i in range(1,2) %}
                                        <img src="{{ asset('star.jpg') }}">
                                    {% endfor %}
                                </td>
                                <td>{{ statistic.noteNb2 }} personne</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ asset('star.jpg') }}">
                                </td>
                                <td>{{ statistic.noteNb1 }} personne</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}