{% extends "base.html.twig" %}

{% block title %}AppBundle:user:userProfile{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container" style="margin-top: 20px">
        <h1>Informations personnelles de l'utilisateur</h1>
        <div class="col-lg-6 col-lg-offset-2 text-center">
            <table class="table table-bordered table-sm table-inverse">
                <tbody>
                <tr>
                    <td>Pseudo</td>
                    <td>{{ client.pseudo }}</td>
                </tr>
                {% if client.pseudo == username %}
                    <tr>
                        <td>Nom et Prenom</td>
                        <td>{{ client.prenom }} {{ client.nom }}</td>
                    </tr>
                    <tr>
                        <td>Adresse mail</td>
                        <td>{{ client.username }}</td>
                    </tr>
                {% endif %}

                </tbody>

            </table>
        </div>

    </div>
{% endblock %}