{% extends "base.html.twig" %}

{% block title %}AppBundle:film:oneFilm{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>显示单个电影的具体信息</h1>
    {{ film.title }}

    <img src="{{ asset('uploads/film_images/')}}{{ film.title }}/{{ film.title }}_Poster.jpg">

    <div>
        <div>平均分 ： {{ statistic.noteAvg }}</div>
        <div>5星 ：{{ statistic.noteNb5 }} 人</div>
        <div>4星 ：{{ statistic.noteNb4 }} 人</div>
        <div>3星 ：{{ statistic.noteNb3 }} 人</div>
        <div>2星 ：{{ statistic.noteNb2 }} 人</div>
        <div>1星 ：{{ statistic.noteNb1 }} 人</div>
    </div>
    {{ film.introduction }}
    {% if images is not null %}
        {% for image in images %}
            <div>
                <img src="{{ asset(image.url) }}">
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}