{% extends "base.html.twig" %}

{% block title %}AppBundle:film:filmlist{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>主页：显示电影列表</h1>
    {% for candidature in candidatures %}
    <div>
        <a href="{{ path('one_film',{'fid':candidature.id}) }}">
            <img src="{{ asset('uploads/film_images/')}}{{ candidature.title }}/{{ candidature.title }}_Poster.jpg">
            {{ candidature.introduction }}
        </a>
    </div>
    {% endfor %}
{% endblock %}
